<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <ul class="header-left">
          <li>
            <a href="app.html">
              <img src="assets/images/logo.png">
            </a>
          </li>
          <li>
            <a class="flip" href="#"><i class="fas fa-align-center"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-7">
        <ul class="header-right">
          <li>
            <a data-toggle="modal" data-target="#CreateInvoice" class="creat-invoice" href="#"><i
                class="fas fa-plus"></i>Create Invoice</a>
          </li>
          <!-- <li>
								<a data-toggle="modal" data-target="#customerInvoice" class="creat-invoice" href="#"><i class="fas fa-plus"></i>Create Customers</a>
							</li> -->
          <li>
            <a href="#">
              <input class="search" placeholder="Search ...">
            </a>
          </li>
          <li>
            <a href="#"><i class="fa fa-bell" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-sign-out-alt"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
