 <div class="sidebar panel" id="">
   <ul>
     <li class="user-profile">
       <img src="assets/images/user.png">
       <div class="user-detail">
         <h4>Parmjot singh</h4>
         <p>abc@gmail.com</p>
       </div>
     </li>
     <li>
       <a class="active" href="app.html">
         <span>Dashboard</span>
         <i class="i fas fa-tachometer-alt"></i>
       </a>
     </li>
     <li>
       <a href="invoices-management.html">
         <span>Invoices Management</span>
         <img class="i" src="assets/images/incoming.png">
       </a>
     </li>
     <li>
       <a href="vander-management.html">
         <span>Vander Management</span>
         <img class="i" src="assets/images/vender.png">
       </a>
     </li>
     <li>
       <a href="expenses.html">
         <span>Expenses</span>
         <img src="assets/images/expense.png" class="i">
       </a>
     </li>
     <li>
       <a href="debt-collection.html">
         <span>Dept Collection</span>
         <img src="assets/images/dept.png" class="i">
       </a>
     </li>
     <li>
       <a href="#">
         <span>Items</span>
         <img src="assets/images/item.png" class="i">
       </a>
     </li>
     <li>
       <a href="#">
         <span>Statement</span>
         <img src="assets/images/statement.png" class="i">
       </a>
     </li>
     <li>
       <a href="#">
         <span>Settings</span>
         <img src="assets/images/setting.png" class="i">
       </a>
     </li>
     <li class="management-btn">
       <a href="#">
         Membership
       </a>
     </li>
   </ul>
 </div>
